body {
    margin: 0;
    padding: 0;
}

.blur-effect {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position-y: -80vh;
    background-repeat: no-repeat;
    filter: blur(20px); /* Ajoute le flou */
    opacity: 1; /* Rend la div visible au départ */
    transition: opacity 2s ease; /* Animation de la disparition du flou */
    z-index: 9999; /* Met au-dessus de tout le reste */
}

.container {
    display: none; /* Masque le contenu au départ */
    height: 100vh;
    background: url('../img/musee.jpg');
    background-size: cover;
    background-position-y: -20vh;
}

.container h2 {
    font-family: 'FUTURA65MEDIUM';
    color: rgb(255, 255, 255);
    text-align: center;
}
@font-face{
    font-family: 'FUTURA65MEDIUM';
    src : url('../font/FUTURA65MEDIUM.TTF');
}

.oeuvre{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 10vh;
    font-family: 'FUTURA65MEDIUM';

    align-items: center;
    color: white;
}
.oeuvre2{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    color: black;
}
.oeuvre1{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    color: black;
}
.grid2{
    display: grid;
    grid-template-columns: 25vh 25vh;
}
.largeur{
    width: 50vh;
}