body{
    overflow: hidden;
    background-color: black;
}
.blurry-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Modifiez la hauteur selon vos besoins */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurry-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg'); /* Remplacez 'lien_de_votre_image.jpg' par le lien de votre image */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Ajustez la valeur de flou selon vos besoins */
    opacity: 0.8; /* Ajustez l'opacité selon vos besoins */
    z-index: -1;
}
.content>h1{
    margin: 0;
}
.content>h1:hover{
    cursor: pointer;
}
#bienvenu{
    margin: 0;
}
.content {
    position: relative;
    font-family: 'FUTURA65MEDIUM';
    z-index: 1;
    color: rgb(255, 255, 255); /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
    font-weight: bold; /* Style du texte */
    text-align: center;
}
@font-face{
    font-family: 'FUTURA65MEDIUM';
    src : url('../font/FUTURA65MEDIUM.TTF');
}